.about-logistic-card {
  background: #ffffff;
  border: 1px solid #ecf3ff;
  border-radius: 16px;
  padding: 24px;
  position: relative;
  z-index: 10;
}
.al-card-title-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  .al-card-icon {
    background: #e8f0ff;
    border-radius: 18.5477px;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .al-card-title {
    display: flex;
    align-items: center;
    h2 {
      @include fontStyle(24px, 700, $dark-blue);
      line-height: 32px;
      letter-spacing: -0.03em;
    }
  }
}
.al-card-text {
  margin-top: 24px;
  p {
    @include fontStyle(16.2281px, 400, #96adc1);
    line-height: 25px;
    letter-spacing: -0.035em;
    margin-bottom: 0;
  }
}
